<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cobot">

    <!-- Import cobot urdf and ros2_control xacro files -->
    <xacro:include filename="$(find cobot_description)/urdf/cobot.urdf.xacro"/>
    <xacro:include filename="$(find cobot_description)/urdf/cobot.ros2_control.xacro"/>

    <!-- ros2_control macro -->
    <!-- Fill up plugin name -->
    <xacro:cobot_ros2_control name="RealSystem" plugin_name=""/>

</robot>
